/*WARNING
VERIFY CODE BEFORE SUBMITTING CHALLENGE:
- LINKS
- PREFIXES
- ETC
- DELETE THIS WARNING*/
/*------------------------ GLOBAL STYLES---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
/*PRIMARY COLORS*/
/*Grayish blue: */
/*Soft red: */
/*NEUTRAL COLORS*/
/*White: */
/*Dark desaturated blue: */
/*Very dark blue: */
/*Very dark (mostly black) blue: */
html, body {
  max-width: 1440px;
  min-width: 250px;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
}

body {
  background-image: url("../images/bg-stars.svg"), url("../images/pattern-hills.svg"), linear-gradient(to bottom, #1e222d 0%, #1f1928 80%);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Red Hat Text", sans-serif;
}

img {
  max-width: 100%;
}

header, main {
  color: white;
}

h1 {
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  /*border: 1px solid red;*/
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  color: #8486a9;
}

/*------------------------ HEADER ---------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32vh;
}

/*------------------------ MAIN ---------------------------------*/
main {
  height: 43vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid red;*/
}
main .flip-time-container {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Text", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 0;
  /*box-shadow: rgba(0,0,0,0.8) 0 1px 0px 0px;*/
}
main .flip-time-container * {
  user-select: none;
  cursor: default;
}
main .flip-time {
  display: flex;
  perspective: 500px;
  margin: 0 1.4rem;
  /*border: 1px solid green;*/
}
main .number {
  position: relative;
  width: 10.5rem;
  height: 10rem;
  /*box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);*/
  /*border: 1px solid black;*/
}
main .number:before, main .number:after {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
main .number:before {
  /*border: 1px solid green;*/
  content: attr(data-number-before);
  bottom: 0;
  align-items: flex-start;
}
main .number:after {
  /*border: 1px solid white;*/
  content: attr(data-number-after);
  top: 0;
  align-items: flex-end;
}
main .rounded-box {
  /*border: 1px solid white;*/
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #191a24;
  opacity: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -2;
}
main .card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
  transition: transform 0.7s ease-in-out;
}
main .card.flipped {
  transform: rotateX(-180deg);
}
main .card-face {
  /*border: 1px solid yellow;*/
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
}
main .card-face-front {
  /*border: 1px solid red;*/
  /*background: red;
  color: white;*/
  align-items: flex-end;
}
main .card-face-back {
  /*border: 1px solid red;*/
  /*background: blue;
  color: white;*/
  align-items: flex-start;
  transform: rotateX(-180deg);
}
main .number:before,
main .number:after,
main .card-face-front,
main .card-face-back {
  background: #343650;
  color: #fb6087;
}
main .number:before,
main .card-face-back {
  /*border: 1px solid yellow;*/
  /*border-top: 0.1px outset $mostly-black-blue;*/
  /*border-top: 0.01px outset green;*/
  background: #343650;
  background: radial-gradient(circle at top left, #191a24 6px, #343650 0), radial-gradient(circle at top right, #191a24 6px, #343650 0) top right, linear-gradient(45deg, #343650 20px, #343650 0) bottom left, linear-gradient(45deg, #343650 20px, #343650 0) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*box-shadow: 0 -50px 50px -25px hsla(235, 16%, 14%, 0.5) inset;*/
}
main .number:after,
main .card-face-front {
  /*border: 1px solid red;*/
  background: #343650;
  background: radial-gradient(circle at bottom left, #191a24 6px, #30324b 0) bottom left, radial-gradient(circle at bottom right, #191a24 6px, #30324b 0) bottom right, linear-gradient(45deg, #30324b 20px, #30324b 0) top left, linear-gradient(45deg, #30324b 20px, #30324b 0) top right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*box-shadow: 0 -60px 70px  hsla(235, 16%, 14%, 0.4) inset;*/
  /*box-shadow: 0 5rem hsla(236, 25%, 18%, 0.3) inset;*/
}
main .flip-time:before {
  content: "";
  position: absolute;
  height: 0.1px;
  width: 9.5rem;
  background: black;
  left: 7px;
  top: 49%;
  z-index: 2;
  opacity: 0.1;
  box-shadow: 0 -0.1px 1px 0.1px black;
}
main .flip-time:after {
  /*border: 1px solid red;*/
  content: "";
  position: absolute;
  height: 0.3px;
  width: 9rem;
  background: inherit;
  top: 49%;
  left: 9.5px;
  z-index: 2;
  opacity: 0.2;
  box-shadow: 0 1px 2.5px 0.1px #8486a9;
}
main .time-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.2rem;
  margin-top: 1rem;
  /*border: 1px solid red;*/
}
main .time-label > div {
  width: 10.5rem;
  text-align: center;
  /*border: 1px solid white;*/
  margin: 0 1.4rem;
}

/*------------------------ FOOTER ---------------------------------*/
footer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .social-icons {
  /*margin-top: 10rem;*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .social-icons a {
  filter: invert(63%) sepia(10%) saturate(866%) hue-rotate(199deg) brightness(83%) contrast(93%);
  display: inline-block;
  padding: 1rem;
}
footer .social-icons a:hover {
  filter: invert(73%) sepia(52%) saturate(5923%) hue-rotate(309deg) brightness(98%) contrast(101%);
}
footer .attribution {
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
footer .attribution span {
  margin-left: 1rem;
}
footer .attribution a {
  /*border: 1px solid red;*/
  margin: 0 0.5rem;
  color: #8486a9;
  /*color: hsl(228, 45%, 44%);*/
  text-decoration: none;
}
footer .attribution a:hover {
  color: #fb6087;
}

/*BREAKING POINTS*/
/*-------------------------MID SIZED SCREENS 750 PX-------------------------*/
@media screen and (max-width: 750px) {
  html, body {
    font-size: 9px;
  }

  body {
    background-position: center top, center bottom;
    background-size: 200%, 150%;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 1.2rem;
    margin-bottom: 8.5rem;
  }

  header {
    height: 37vh;
    align-items: flex-end;
  }

  main {
    height: 30vh;
  }
  main .flip-time-container {
    /*border: 1px solid green;*/
    font-size: 5rem;
  }
  main .flip-time {
    margin: 0 0.7rem;
  }
  main .number {
    width: 9.5rem;
    height: 9rem;
  }
  main .rounded-box {
    /*border: 1px solid white;*/
    position: absolute;
    bottom: -5px;
    /*left: 0;    */
    width: 100%;
    height: 15px;
    /*background: $mostly-black-blue;*/
    /*background: green;*/
    opacity: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -2;
  }
  main .number:before,
main .card-face-back {
    /*border: 1px solid yellow;*/
    /*border-top: 0.1px outset $mostly-black-blue;*/
    /*border-top: 0.01px outset green;*/
    background: #343650;
    background: radial-gradient(circle at top left, #191a24 3.5px, #343650 0), radial-gradient(circle at top right, #191a24 3.5px, #343650 0) top right, linear-gradient(45deg, #343650 20px, #343650 0) bottom left, linear-gradient(45deg, #343650 20px, #343650 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  main .number:after,
main .card-face-front {
    /*border: 1px solid red;*/
    background: #343650;
    background: radial-gradient(circle at bottom left, #191a24 3.5px, #30324b 0) bottom left, radial-gradient(circle at bottom right, #191a24 3.5px, #30324b 0) bottom right, linear-gradient(45deg, #30324b 20px, #30324b 0) top left, linear-gradient(45deg, #30324b 20px, #30324b 0) top right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  main .time-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43.6rem;
    margin-top: 1rem;
    /*border: 1px solid red;*/
  }
  main .time-label > div {
    width: 9.5rem;
    text-align: center;
    margin: 0 0.7;
    /*border: 1px solid white;*/
    /*margin: 0 1.5rem;  */
  }
  main .flip-time:before {
    width: 8.5rem;
    left: 4.5px;
  }
  main .flip-time:after {
    width: 8rem;
    left: 6.5px;
  }

  footer {
    height: 33vh;
    align-items: center;
  }
  footer .social-icons {
    margin: 20rem 0 2rem 0;
    /*border: 1px solid red;*/
  }
  footer .social-icons a {
    margin: 0 1rem;
  }
  footer .attribution {
    font-size: 1.2rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    /*border: 1px solid white;*/
  }
}
/*--------------------- END MID SIZED SCREENS 750 PX---------------------*/
/*----------------------------MOBILE 1 375 PX--------------------------------*/
@media screen and (max-width: 375px) {
  html, body {
    font-size: 7px;
  }

  body {
    background-position: center top, 85% bottom;
    background-size: 200%, 320%;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
    margin-bottom: 8.5rem;
  }

  header {
    height: 37vh;
    align-items: flex-end;
  }

  main {
    height: 30vh;
  }
  main .flip-time-container {
    font-size: 5rem;
    /*border: 1px solid green;*/
  }
  main .flip-time {
    margin: 0 1rem;
  }
  main .number {
    width: 10rem;
    height: 9.5rem;
  }
  main .rounded-box {
    /*border: 1px solid white;*/
    position: absolute;
    bottom: -4px;
    /*left: 0;    */
    width: 100%;
    height: 15px;
    /*background: $mostly-black-blue;*/
    /*background: green;*/
    opacity: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -2;
  }
  main .number:before,
main .card-face-back {
    /*border: 1px solid yellow;*/
    /*border-top: 0.1px outset $mostly-black-blue;*/
    /*border-top: 0.01px outset green;*/
    background: #343650;
    background: radial-gradient(circle at top left, #191a24 3.5px, #343650 0), radial-gradient(circle at top right, #191a24 3.5px, #343650 0) top right, linear-gradient(45deg, #343650 20px, #343650 0) bottom left, linear-gradient(45deg, #343650 20px, #343650 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  main .number:after,
main .card-face-front {
    /*border: 1px solid red;*/
    background: #343650;
    background: radial-gradient(circle at bottom left, #191a24 3.5px, #30324b 0) bottom left, radial-gradient(circle at bottom right, #191a24 3.5px, #30324b 0) bottom right, linear-gradient(45deg, #30324b 20px, #30324b 0) top left, linear-gradient(45deg, #30324b 20px, #30324b 0) top right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  main .time-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48rem;
    margin-top: 1rem;
    /*border: 1px solid red;*/
  }
  main .time-label > div {
    width: 10rem;
    text-align: center;
    margin: 0 1rem;
    /*border: 1px solid white;*/
    /*margin: 0 1.5rem;  */
  }
  main .flip-time:before {
    width: 8.5rem;
    left: 5px;
  }
  main .flip-time:after {
    width: 8rem;
    left: 7px;
  }

  footer {
    height: 33vh;
    align-items: center;
  }
  footer .social-icons {
    margin: 20rem 0 2rem 0;
    /*border: 1px solid red;*/
  }
  footer .social-icons a {
    margin: 0 1rem;
  }
  footer .attribution {
    font-size: 1.2rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    /*border: 1px solid white;*/
  }
}
/*------------------------- END MOBILE 1 375 PX -----------------------------*/
/*----------------------------MOBILE 2 330 PX--------------------------------*/
@media screen and (max-width: 330px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 1.2rem;
    margin-bottom: 10.5rem;
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  header {
    height: 37vh;
    align-items: flex-end;
  }

  main {
    height: 30vh;
  }
  main .flip-time-container {
    font-size: 3rem;
  }
  main .flip-time {
    margin: 0 0.5rem;
  }
  main .number {
    width: 7.5rem;
    height: 7rem;
  }
  main .rounded-box {
    /*border: 1px solid white;*/
    position: absolute;
    bottom: -3px;
    /*left: 0;    */
    width: 100%;
    height: 10px;
    /*background: $mostly-black-blue;*/
    /*background: green;*/
    opacity: 1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: -2;
  }
  main .number:before,
main .card-face-back {
    background: #343650;
    background: radial-gradient(circle at top left, #191a24 1.5px, #343650 0), radial-gradient(circle at top right, #191a24 1.5px, #343650 0) top right, linear-gradient(45deg, #343650 20px, #343650 0) bottom left, linear-gradient(45deg, #343650 20px, #343650 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  main .number:after,
main .card-face-front {
    background: #343650;
    background: radial-gradient(circle at bottom left, #191a24 1.5px, #30324b 0) bottom left, radial-gradient(circle at bottom right, #191a24 1.5px, #30324b 0) bottom right, linear-gradient(45deg, #30324b 20px, #30324b 0) top left, linear-gradient(45deg, #30324b 20px, #30324b 0) top right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  main .time-label {
    width: 34rem;
    margin-top: 1rem;
    justify-content: center;
  }
  main .time-label > div {
    width: 7.5rem;
    margin: 0 0.5rem;
  }
  main .flip-time:before {
    width: 6.5rem;
    left: 3.5px;
  }
  main .flip-time:after {
    width: 6.5rem;
    left: 3.5px;
  }
}
/*------------------------- END MOBILE 2 330 PX -----------------------------*/

/*# sourceMappingURL=style.css.map */
