/*------------------------ GLOBAL STYLES---------------------------------*/
@import './variables';
@import './card-styles';

html, body {  
    max-width: 1440px;
    min-width: 250px;        
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    height: 100vh;    
    margin: 0 auto

}

body {
                
    background-image: url('../images/bg-stars.svg'),  url('../images/pattern-hills.svg'), linear-gradient(to bottom, $back-gradient-1 0%, $back-gradient-2 80%);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: $font;
        }

img {
    max-width: 100%;
}

header, main {
    color: $white;    
}

 h1 {
        padding-top: 3rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.6rem;        
    }   

h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;        
        letter-spacing: 0.4rem;
        color: $grayish-blue;
} 


/*------------------------ HEADER ---------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;   
    box-sizing: border-box;
    height: 32vh;   
}

/*------------------------ MAIN ---------------------------------*/

main {
    height: 43vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;   
}    
    
        .flip-time-container {        

        display: flex;
        justify-content: center;
        align-items:  center;
        
        font-family: 'Red Hat Text', sans-serif;
        font-size: 5.5rem;
        font-weight: 700; 
        line-height: 0;
        }

        .flip-time-container * {
            user-select: none;
            cursor: default;
        }

        .flip-time {
            display: flex;
            perspective: 500px;
            margin: 0 1.4rem;            
        }

        .number {
            position: relative;
            width: 10.5rem;
            height: 10rem;
        }

        .number:before, .number:after {
            
            position: absolute;
            z-index: 0;

            display: flex;
            justify-content: center;

            width: 100%;
            height: 50%;
            overflow: hidden; 
        }

        .number:before {           
            content: attr(data-number-before);
            
            bottom: 0;
            align-items: flex-start;
        }

        .number:after {            
            content: attr(data-number-after); 

            top: 0;
            align-items: flex-end;   
        }


        .card-shadow {            
            position: absolute;
            bottom: -10px;
            left: 0;    
            width: 100%;    
            height: 30px;
            background: $mostly-black-blue;
            opacity: 1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            z-index: -2;    
        }

        .card {
            position: relative;
            z-index: 1;

            width: 100%;
            height: 50%;

            transform-style: preserve-3d;
            transform-origin: bottom;
            transform: rotateX(0);

            transition: transform .7s ease-in-out;    
        }

        .card.flipped {
            transform: rotateX(-180deg);
        }



        .card-face {            
            position: absolute;

            display: flex;
            justify-content: center;

            width: 100%;
            height: 100%;
            overflow: hidden;

            backface-visibility: hidden;
        }

        .card-face-front {           
            align-items: flex-end;
        }

        .card-face-back {
            align-items: flex-start;
            
            transform: rotateX(-180deg);
        }

        /*Set specific styles to the cards: inverted borders effect, rounded borders*/
        @include cardStyles(6px, 20px, 10px);       


        .flip-time:before {
            content: "";
            position: absolute;
            height: 0.1px;
            width: 9.5rem;
            background: black;
            left: 7px;
            top: 49%;
            z-index: 2;
            opacity: 0.1;
            box-shadow: 0 -0.1px 1px 0.1px black;
        }

        .flip-time:after{            
            content: "";
            position: absolute;
            height: 0.3px;
            width: 9rem;
            background: inherit;
            top: 49%;
            left: 9.5px;    
            z-index: 2;
            opacity: 0.2;
            
            box-shadow: 0 1px 2.5px 0.1px $grayish-blue;
        }



        .flip-time-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53.2rem;
            margin-top: 1rem;            
            
            & > div {
                width: 10.5rem;
                text-align: center;                
                margin: 0 1.4rem;  
            }
        }



/*------------------------ FOOTER ---------------------------------*/
footer {    
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a {
            filter: invert(63%) sepia(10%) saturate(866%) hue-rotate(199deg) brightness(83%) contrast(93%);
            display: inline-block;
            padding: 1rem;
            &:hover {
               filter: invert(73%) sepia(52%) saturate(5923%) hue-rotate(309deg) brightness(98%) contrast(101%);
            } 
        }
    }
    .attribution {        
        padding-top: 2rem;
        margin-bottom: 1rem; 
        font-size: 0.7rem; text-align: center;
        color: $white;
        span {
            margin-left: 1rem;
        }

        a {
            margin: 0 0.5rem;
            color: $grayish-blue;
            text-decoration: none;
            &:hover {
               color: $soft-red;
            } 
        } 
    }   
}


/*BREAKING POINTS*/

/*-------------------------MID SIZED SCREENS 750 PX-------------------------*/
@media screen and (max-width: 750px){
    html, body {
        font-size: 9px;
    }

    body {
        background-position: center top, center bottom;
        background-size: 200%, 150%;        
    }

    h1 {
        font-size: 2rem;
        letter-spacing: 1.2rem;
        margin-bottom: 8.5rem;
    }

    header {
        height: 37vh;
        align-items: flex-end;
    }
   
    main {
        height: 30vh;
    }    
        .flip-time-container {
            font-size: 5rem;
        }

        .flip-time {
            margin: 0 0.7rem;
            perspective: 250px;
        }

        .number {
            width: 9.5rem;
            height: 9rem;
        }

        .card-shadow { 
            bottom: -5px;
            height: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        @include cardStyles(3.5px, 15px, 5px);        

        .flip-time-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43.6rem;
            margin-top: 1rem;            
            
            & > div {
                width: 9.5rem;
                text-align: center;
                margin: 0 0.7;
            }
        }

        .flip-time:before {
            width: 8.5rem;
            left: 4.5px;
        }

        .flip-time:after{
            width: 8rem;
            left: 6.5px;
        }


    

   footer {
        height: 33vh;
        align-items: center;

        .social-icons {
            margin: 20rem 0 2rem 0;
            a {
                margin: 0 1rem;
            }
        }

       .attribution {
            font-size: 1.2rem;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 1rem;
       }
        
    }
}
/*--------------------- END MID SIZED SCREENS 750 PX---------------------*/


/*----------------------------MOBILE 1 375 PX--------------------------------*/

@media screen and (max-width: 375px){
    html, body {
        font-size: 7px;
    }

    body {
        background-position: center top, 85% bottom;
        background-size: 200%, 320%;        
    }

    h1 {
        font-size: 2.5rem;
        letter-spacing: 1.2rem;
        margin-bottom: 8.5rem;
    }

    header {
        height: 37vh;
        align-items: flex-end;
    }
   
        
        .flip-time-container {
            font-size: 5rem;
        }

        .flip-time {
            margin: 0 1rem;
            perspective: 150px;
        }

        .number {
            width: 10rem;
            height: 9.5rem;
        }

       .card-shadow {            
            bottom: -4px;                        
        }

        @include cardStyles(2.5px, 12px, 4px);        

        .flip-time-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48rem;
            margin-top: 1rem;
            /*border: 1px solid red;*/
            
            & > div {
                width: 10rem;
                text-align: center;
                margin: 0 1rem;
            }
        }

        .flip-time:before {
            width: 8.5rem;
            left: 5px;            
        }

        .flip-time:after{
            width: 8rem;
            left: 7px;            
        }

    

   footer {
        height: 33vh;
        align-items: center;

        .social-icons {
            margin: 20rem 0 2rem 0;
            a {
                margin: 0 1rem;
            }
        }

       .attribution {
            font-size: 1.2rem;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 1rem;
       }
        
    }
}

/*------------------------- END MOBILE 1 375 PX -----------------------------*/


/*----------------------------MOBILE 2 330 PX--------------------------------*/
@media screen and (max-width: 330px) {

    
    h1 {
        font-size: 1.8rem;
        letter-spacing: 1.2rem;
        margin-bottom: 10.5rem;
        }

    h2 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

        header {
            height: 37vh;
            align-items: flex-end;
        }
       
                    
            .flip-time-container {
                font-size: 3rem;
            }

            .flip-time {
                margin: 0 0.5rem;
            }

            .number {
                width: 7.5rem;
                height: 7rem;
            }

            .card-shadow {                
                bottom: -3px;                
                height: 10px;                
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;            
            }

            @include cardStyles(1.5px, 10px, 2px);           

            .flip-time-label {           
                width: 34rem;
                margin-top: 1rem;
                justify-content: center;            
                & > div {
                    width: 7.5rem;
                    margin: 0 0.5rem;                    
                }
            }

            .flip-time:before {
                width: 6.5rem;
                left: 3.5px;
                         
            }

            .flip-time:after{
                width: 6.5rem;
                left: 3.5px;                            
            }

        
}

/*------------------------- END MOBILE 2 330 PX -----------------------------*/